In [1]:
# Import BeautifulSoup
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
import pprint

In [2]:

url = 'https://www.statsamerica.org/sip/rank_list.aspx?rank_label=pop1&ct=S18'
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

# find the table on the page
population_table = soup.find('table')

pop_df = pd.read_html(str(population_table))[0]

In [3]:
pop_df

    Rank                 State  FIPS Code  Population
0      1            California       6000    39029342
1      2                 Texas      48000    30029572
2      3               Florida      12000    22244823
3      4              New York      36000    19677151
4      5          Pennsylvania      42000    12972008
5      6              Illinois      17000    12582032
6      7                  Ohio      39000    11756058
7      8               Georgia      13000    10912876
8      9        North Carolina      37000    10698973
9     10              Michigan      26000    10034113
10    11            New Jersey      34000     9261699
11    12              Virginia      51000     8683619
12    13            Washington      53000     7785786
13    14               Arizona       4000     7359197
14    15             Tennessee      47000     7051339
15    16         Massachusetts      25000     6981974
16    17               Indiana      18000     6833037
17    18              Missouri      29000     6177957
18    19              Maryland      24000     6164660
19    20             Wisconsin      55000     5892539
20    21              Colorado       8000     5839926
21    22             Minnesota      27000     5717184
22    23        South Carolina      45000     5282634
23    24               Alabama       1000     5074296
24    25             Louisiana      22000     4590241
25    26              Kentucky      21000     4512310
26    27                Oregon      41000     4240137
27    28              Oklahoma      40000     4019800
28    29           Connecticut       9000     3626205
29    30                  Utah      49000     3380800
30    31                  Iowa      19000     3200517
31    32                Nevada      32000     3177772
32    33              Arkansas       5000     3045637
33    34           Mississippi      28000     2940057
34    35                Kansas      20000     2937150
35    36            New Mexico      35000     2113344
36    37              Nebraska      31000     1967923
37    38                 Idaho      16000     1939033
38    39         West Virginia      54000     1775156
39    40                Hawaii      15000     1440196
40    41         New Hampshire      33000     1395231
41    42                 Maine      23000     1385340
42    43               Montana      30000     1122867
43    44          Rhode Island      44000     1093734
44    45              Delaware      10000     1018396
45    46          South Dakota      46000      909824
46    47          North Dakota      38000      779261
47    48                Alaska       2000      733583
48    49  District of Columbia      11000      671803
49    50               Vermont      50000      647064
50    51               Wyoming      56000      581381

In [4]:
pop_df = pop_df.drop(columns=['FIPS Code'])

In [5]:
pop_df

    Rank                 State  Population
0      1            California    39029342
1      2                 Texas    30029572
2      3               Florida    22244823
3      4              New York    19677151
4      5          Pennsylvania    12972008
5      6              Illinois    12582032
6      7                  Ohio    11756058
7      8               Georgia    10912876
8      9        North Carolina    10698973
9     10              Michigan    10034113
10    11            New Jersey     9261699
11    12              Virginia     8683619
12    13            Washington     7785786
13    14               Arizona     7359197
14    15             Tennessee     7051339
15    16         Massachusetts     6981974
16    17               Indiana     6833037
17    18              Missouri     6177957
18    19              Maryland     6164660
19    20             Wisconsin     5892539
20    21              Colorado     5839926
21    22             Minnesota     5717184
22    23        South Carolina     5282634
23    24               Alabama     5074296
24    25             Louisiana     4590241
25    26              Kentucky     4512310
26    27                Oregon     4240137
27    28              Oklahoma     4019800
28    29           Connecticut     3626205
29    30                  Utah     3380800
30    31                  Iowa     3200517
31    32                Nevada     3177772
32    33              Arkansas     3045637
33    34           Mississippi     2940057
34    35                Kansas     2937150
35    36            New Mexico     2113344
36    37              Nebraska     1967923
37    38                 Idaho     1939033
38    39         West Virginia     1775156
39    40                Hawaii     1440196
40    41         New Hampshire     1395231
41    42                 Maine     1385340
42    43               Montana     1122867
43    44          Rhode Island     1093734
44    45              Delaware     1018396
45    46          South Dakota      909824
46    47          North Dakota      779261
47    48                Alaska      733583
48    49  District of Columbia      671803
49    50               Vermont      647064
50    51               Wyoming      581381

In [6]:
pop_df.sort_values(by='State')

pop_df

    Rank                 State  Population
0      1            California    39029342
1      2                 Texas    30029572
2      3               Florida    22244823
3      4              New York    19677151
4      5          Pennsylvania    12972008
5      6              Illinois    12582032
6      7                  Ohio    11756058
7      8               Georgia    10912876
8      9        North Carolina    10698973
9     10              Michigan    10034113
10    11            New Jersey     9261699
11    12              Virginia     8683619
12    13            Washington     7785786
13    14               Arizona     7359197
14    15             Tennessee     7051339
15    16         Massachusetts     6981974
16    17               Indiana     6833037
17    18              Missouri     6177957
18    19              Maryland     6164660
19    20             Wisconsin     5892539
20    21              Colorado     5839926
21    22             Minnesota     5717184
22    23        South Carolina     5282634
23    24               Alabama     5074296
24    25             Louisiana     4590241
25    26              Kentucky     4512310
26    27                Oregon     4240137
27    28              Oklahoma     4019800
28    29           Connecticut     3626205
29    30                  Utah     3380800
30    31                  Iowa     3200517
31    32                Nevada     3177772
32    33              Arkansas     3045637
33    34           Mississippi     2940057
34    35                Kansas     2937150
35    36            New Mexico     2113344
36    37              Nebraska     1967923
37    38                 Idaho     1939033
38    39         West Virginia     1775156
39    40                Hawaii     1440196
40    41         New Hampshire     1395231
41    42                 Maine     1385340
42    43               Montana     1122867
43    44          Rhode Island     1093734
44    45              Delaware     1018396
45    46          South Dakota      909824
46    47          North Dakota      779261
47    48                Alaska      733583
48    49  District of Columbia      671803
49    50               Vermont      647064
50    51               Wyoming      581381

In [7]:
ev_owners_df = pd.read_csv(r'C:\Users\justidea.KEYSIGHT\Desktop\green_project\CSV_Data\10962-ev-registration-counts-by-state_6-30-22.csv')

ev_owners_df = ev_owners_df.drop(ev_owners_df[ev_owners_df['State'] == 'Total'].index)

ev_owners_df

                   State  ev_Registration_Count
0                Alabama                   4750
1                 Alaska                   1290
2                Arizona                  40740
3               Arkansas                   2390
4             California                 563070
5               Colorado                  37000
6            Connecticut                  13350
7               Delaware                   3010
8   District of Columbia                   3700
9                Florida                  95640
10               Georgia                  34020
11                Hawaii                  14220
12                 Idaho                   3500
13              Illinois                  36520
14               Indiana                  10360
15                  Iowa                   3660
16                Kansas                   4500
17              Kentucky                   4220
18             Louisiana                   3180
19                 Maine                   3040
20              Maryland                  25630
21         Massachusetts                  30470
22              Michigan                  17460
23             Minnesota                  15000
24           Mississippi                   1310
25              Missouri                  10050
26               Montana                   1650
27              Nebraska                   2710
28                Nevada                  17380
29         New Hampshire                   4000
30            New Jersey                  47830
31            New Mexico                   4150
32              New York                  51870
33        North Carolina                  25190
34          North Dakota                    380
35                  Ohio                  21200
36              Oklahoma                   7080
37                Oregon                  30290
38          Pennsylvania                  26770
39          Rhode Island                   2550
40        South Carolina                   7440
41          South Dakota                    680
42             Tennessee                  12160
43                 Texas                  80900
44                  Utah                  16480
45               Vermont                   3370
46              Virginia                  30660
47            Washington                  66810
48         West Virginia                   1010
49             Wisconsin                   9330
50               Wyoming                    510

In [8]:
ev_df = pd.read_csv(r'C:\Users\justidea.KEYSIGHT\Desktop\green_project\CSV_Data\state_ev_data.csv')
ev_df

,State,State Abbrv.,EV_Stations2012,EV_Stations2014,EV_Stations2021,Total_Growth,Growth%
0,California,CA,1421,3395,14936,13515,0.095139
1,Texas,TX,869,1487,3006,2137,0.289088
2,Illinois,IL,475,849,1455,980,0.326460
3,Minnesota,MN,468,561,1235,767,0.378947
4,New York,NY,457,850,2971,2514,0.153820
5,Florida,FL,409,815,2826,2417,0.144728
6,Michigan,MI,398,668,1151,753,0.345786
7,Washington,WA,397,718,1843,1446,0.215410
8,Indiana,IN,373,554,678,305,0.550147
9,North Carolina,NC,337,582,1376,1039,0.244913
10,Tennessee,TN,257,618,867,610,0.296424
11,Colorado,CO,256,444,1670,1414,0.153293
12,Wisconsin,WI,252,461,845,593,0.298225
13,Oregon,OR,244,519,1053,809,0.231719
14,Ohio,OH,240,452,1198,958,0.200334
15,Georgia,GA,224,553,1764,1540,0.126984
16,Iowa,IA,224,318,640,416,0.350000
17,Missouri,MO,219,321,1222,1003,0.179214
18,South Carolina,SC,218,338,519,301,0.420039
19,Maryland,MD,186,373,1291,1105,0.144074
20,Arizona,AZ,180,550,1019,839,0.176644
21,Pennsylvania,PA,176,481,1416,1240,0.124294
22,Virginia,VA,165,399,1207,1042,0.136703
23,Oklahoma,OK,154,329,611,457,0.252046
24,Alabama,AL,152,247,403,251,0.377171
25,Utah,UT,150,223,939,789,0.159744
26,South Dakota,SD,119,122,153,34,0.777778
27,Kansas,KS,112,209,612,500,0.183007
28,Connecticut,CT,110,250,562,452,0.195730
29,Massachusetts,MA,110,385,1952,1842,0.056352
30,Arkansas,AR,103,154,278,175,0.370504
31,Nebraska,NE,98,149,291,193,0.336770
32,North Dakota,ND,98,98,124,26,0.790323
33,Nevada,NV,94,172,491,397,0.191446
34,New Mexico,NM,84,111,260,176,0.323077
35,Kentucky,KY,80,180,284,204,0.281690
36,New Jersey,NJ,75,213,766,691,0.097911
37,Louisiana,LA,60,125,259,199,0.231660
38,Idaho,ID,57,78,177,120,0.322034
39,Montana,MT,55,71,99,44,0.555556
40,Wyoming,WY,51,72,103,52,0.495146
41,Mississippi,MS,51,166,199,148,0.256281
42,District of Columbia,DC,39,82,291,252,0.134021
43,New Hampshire,NH,38,75,176,138,0.215909
44,Hawaii,HI,38,206,407,369,0.093366
45,West Virginia,WV,19,55,159,140,0.119497
46,Rhode Island,RI,18,80,240,222,0.075000
47,Vermont,VT,17,72,318,301,0.053459
48,Maine,ME,16,62,282,266,0.056738
49,Alaska,AK,9,8,44,35,0.204545
50,Delaware,DE,6,29,127,121,0.047244

In [9]:
ev_df.sort_values(by='State')

ev_df

,State,State Abbrv.,EV_Stations2012,EV_Stations2014,EV_Stations2021,Total_Growth,Growth%
0,California,CA,1421,3395,14936,13515,0.095139
1,Texas,TX,869,1487,3006,2137,0.289088
2,Illinois,IL,475,849,1455,980,0.326460
3,Minnesota,MN,468,561,1235,767,0.378947
4,New York,NY,457,850,2971,2514,0.153820
5,Florida,FL,409,815,2826,2417,0.144728
6,Michigan,MI,398,668,1151,753,0.345786
7,Washington,WA,397,718,1843,1446,0.215410
8,Indiana,IN,373,554,678,305,0.550147
9,North Carolina,NC,337,582,1376,1039,0.244913
10,Tennessee,TN,257,618,867,610,0.296424
11,Colorado,CO,256,444,1670,1414,0.153293
12,Wisconsin,WI,252,461,845,593,0.298225
13,Oregon,OR,244,519,1053,809,0.231719
14,Ohio,OH,240,452,1198,958,0.200334
15,Georgia,GA,224,553,1764,1540,0.126984
16,Iowa,IA,224,318,640,416,0.350000
17,Missouri,MO,219,321,1222,1003,0.179214
18,South Carolina,SC,218,338,519,301,0.420039
19,Maryland,MD,186,373,1291,1105,0.144074
20,Arizona,AZ,180,550,1019,839,0.176644
21,Pennsylvania,PA,176,481,1416,1240,0.124294
22,Virginia,VA,165,399,1207,1042,0.136703
23,Oklahoma,OK,154,329,611,457,0.252046
24,Alabama,AL,152,247,403,251,0.377171
25,Utah,UT,150,223,939,789,0.159744
26,South Dakota,SD,119,122,153,34,0.777778
27,Kansas,KS,112,209,612,500,0.183007
28,Connecticut,CT,110,250,562,452,0.195730
29,Massachusetts,MA,110,385,1952,1842,0.056352
30,Arkansas,AR,103,154,278,175,0.370504
31,Nebraska,NE,98,149,291,193,0.336770
32,North Dakota,ND,98,98,124,26,0.790323
33,Nevada,NV,94,172,491,397,0.191446
34,New Mexico,NM,84,111,260,176,0.323077
35,Kentucky,KY,80,180,284,204,0.281690
36,New Jersey,NJ,75,213,766,691,0.097911
37,Louisiana,LA,60,125,259,199,0.231660
38,Idaho,ID,57,78,177,120,0.322034
39,Montana,MT,55,71,99,44,0.555556
40,Wyoming,WY,51,72,103,52,0.495146
41,Mississippi,MS,51,166,199,148,0.256281
42,District of Columbia,DC,39,82,291,252,0.134021
43,New Hampshire,NH,38,75,176,138,0.215909
44,Hawaii,HI,38,206,407,369,0.093366
45,West Virginia,WV,19,55,159,140,0.119497
46,Rhode Island,RI,18,80,240,222,0.075000
47,Vermont,VT,17,72,318,301,0.053459
48,Maine,ME,16,62,282,266,0.056738
49,Alaska,AK,9,8,44,35,0.204545
50,Delaware,DE,6,29,127,121,0.047244

In [10]:
merged_df = pd.merge(pop_df, ev_df, on='State')

merged_df = pd.merge(merged_df, ev_owners_df, on='State')

merged_df

,Rank,State,Population,State Abbrv.,EV_Stations2012,EV_Stations2014,EV_Stations2021,Total_Growth,Growth%,ev_Registration_Count
0,1,California,39029342,CA,1421,3395,14936,13515,0.095139,563070
1,2,Texas,30029572,TX,869,1487,3006,2137,0.289088,80900
2,3,Florida,22244823,FL,409,815,2826,2417,0.144728,95640
3,4,New York,19677151,NY,457,850,2971,2514,0.153820,51870
4,5,Pennsylvania,12972008,PA,176,481,1416,1240,0.124294,26770
5,6,Illinois,12582032,IL,475,849,1455,980,0.326460,36520
6,7,Ohio,11756058,OH,240,452,1198,958,0.200334,21200
7,8,Georgia,10912876,GA,224,553,1764,1540,0.126984,34020
8,9,North Carolina,10698973,NC,337,582,1376,1039,0.244913,25190
9,10,Michigan,10034113,MI,398,668,1151,753,0.345786,17460
10,11,New Jersey,9261699,NJ,75,213,766,691,0.097911,47830
11,12,Virginia,8683619,VA,165,399,1207,1042,0.136703,30660
12,13,Washington,7785786,WA,397,718,1843,1446,0.215410,66810
13,14,Arizona,7359197,AZ,180,550,1019,839,0.176644,40740
14,15,Tennessee,7051339,TN,257,618,867,610,0.296424,12160
15,16,Massachusetts,6981974,MA,110,385,1952,1842,0.056352,30470
16,17,Indiana,6833037,IN,373,554,678,305,0.550147,10360
17,18,Missouri,6177957,MO,219,321,1222,1003,0.179214,10050
18,19,Maryland,6164660,MD,186,373,1291,1105,0.144074,25630
19,20,Wisconsin,5892539,WI,252,461,845,593,0.298225,9330
20,21,Colorado,5839926,CO,256,444,1670,1414,0.153293,37000
21,22,Minnesota,5717184,MN,468,561,1235,767,0.378947,15000
22,23,South Carolina,5282634,SC,218,338,519,301,0.420039,7440
23,24,Alabama,5074296,AL,152,247,403,251,0.377171,4750
24,25,Louisiana,4590241,LA,60,125,259,199,0.231660,3180
25,26,Kentucky,4512310,KY,80,180,284,204,0.281690,4220
26,27,Oregon,4240137,OR,244,519,1053,809,0.231719,30290
27,28,Oklahoma,4019800,OK,154,329,611,457,0.252046,7080
28,29,Connecticut,3626205,CT,110,250,562,452,0.195730,13350
29,30,Utah,3380800,UT,150,223,939,789,0.159744,16480
30,31,Iowa,3200517,IA,224,318,640,416,0.350000,3660
31,32,Nevada,3177772,NV,94,172,491,397,0.191446,17380
32,33,Arkansas,3045637,AR,103,154,278,175,0.370504,2390
33,34,Mississippi,2940057,MS,51,166,199,148,0.256281,1310
34,35,Kansas,2937150,KS,112,209,612,500,0.183007,4500
35,36,New Mexico,2113344,NM,84,111,260,176,0.323077,4150
36,37,Nebraska,1967923,NE,98,149,291,193,0.336770,2710
37,38,Idaho,1939033,ID,57,78,177,120,0.322034,3500
38,39,West Virginia,1775156,WV,19,55,159,140,0.119497,1010
39,40,Hawaii,1440196,HI,38,206,407,369,0.093366,14220
40,41,New Hampshire,1395231,NH,38,75,176,138,0.215909,4000
41,42,Maine,1385340,ME,16,62,282,266,0.056738,3040
42,43,Montana,1122867,MT,55,71,99,44,0.555556,1650
43,44,Rhode Island,1093734,RI,18,80,240,222,0.075000,2550
44,45,Delaware,1018396,DE,6,29,127,121,0.047244,3010
45,46,South Dakota,909824,SD,119,122,153,34,0.777778,680
46,47,North Dakota,779261,ND,98,98,124,26,0.790323,380
47,48,Alaska,733583,AK,9,8,44,35,0.204545,1290
48,49,District of Columbia,671803,DC,39,82,291,252,0.134021,3700
49,50,Vermont,647064,VT,17,72,318,301,0.053459,3370
50,51,Wyoming,581381,WY,51,72,103,52,0.495146,510

In [11]:
merged_df = merged_df.rename(columns={'Growth%': 'Growth_Rate_Percent'})

In [12]:
merged_df = merged_df.rename(columns={'EV_Stations2012': 'Alt_Fuel_Stations_2012'})

merged_df = merged_df.rename(columns={'EV_Stations2014': 'Alt_Fuel_Stations_2014'})

merged_df = merged_df.rename(columns={'EV_Stations2021': 'Alt_Fuel_Stations_2021'})

merged_df = merged_df.rename(columns={'Population': 'Population_2021'})

merged_df['Growth_Rate_Percent'] = merged_df['Growth_Rate_Percent'] * 100

merged_df['Growth_Rate_Percent'] = merged_df['Growth_Rate_Percent'].map('{:.2f}'.format)

merged_df['Growth_Rate_Percent'] = merged_df['Growth_Rate_Percent'].astype(str)

merged_df

,Rank,State,Population_2021,State Abbrv.,Alt_Fuel_Stations_2012,Alt_Fuel_Stations_2014,Alt_Fuel_Stations_2021,Total_Growth,Growth_Rate_Percent,ev_Registration_Count
0,1,California,39029342,CA,1421,3395,14936,13515,9.51,563070
1,2,Texas,30029572,TX,869,1487,3006,2137,28.91,80900
2,3,Florida,22244823,FL,409,815,2826,2417,14.47,95640
3,4,New York,19677151,NY,457,850,2971,2514,15.38,51870
4,5,Pennsylvania,12972008,PA,176,481,1416,1240,12.43,26770
5,6,Illinois,12582032,IL,475,849,1455,980,32.65,36520
6,7,Ohio,11756058,OH,240,452,1198,958,20.03,21200
7,8,Georgia,10912876,GA,224,553,1764,1540,12.70,34020
8,9,North Carolina,10698973,NC,337,582,1376,1039,24.49,25190
9,10,Michigan,10034113,MI,398,668,1151,753,34.58,17460
10,11,New Jersey,9261699,NJ,75,213,766,691,9.79,47830
11,12,Virginia,8683619,VA,165,399,1207,1042,13.67,30660
12,13,Washington,7785786,WA,397,718,1843,1446,21.54,66810
13,14,Arizona,7359197,AZ,180,550,1019,839,17.66,40740
14,15,Tennessee,7051339,TN,257,618,867,610,29.64,12160
15,16,Massachusetts,6981974,MA,110,385,1952,1842,5.64,30470
16,17,Indiana,6833037,IN,373,554,678,305,55.01,10360
17,18,Missouri,6177957,MO,219,321,1222,1003,17.92,10050
18,19,Maryland,6164660,MD,186,373,1291,1105,14.41,25630
19,20,Wisconsin,5892539,WI,252,461,845,593,29.82,9330
20,21,Colorado,5839926,CO,256,444,1670,1414,15.33,37000
21,22,Minnesota,5717184,MN,468,561,1235,767,37.89,15000
22,23,South Carolina,5282634,SC,218,338,519,301,42.00,7440
23,24,Alabama,5074296,AL,152,247,403,251,37.72,4750
24,25,Louisiana,4590241,LA,60,125,259,199,23.17,3180
25,26,Kentucky,4512310,KY,80,180,284,204,28.17,4220
26,27,Oregon,4240137,OR,244,519,1053,809,23.17,30290
27,28,Oklahoma,4019800,OK,154,329,611,457,25.20,7080
28,29,Connecticut,3626205,CT,110,250,562,452,19.57,13350
29,30,Utah,3380800,UT,150,223,939,789,15.97,16480
30,31,Iowa,3200517,IA,224,318,640,416,35.00,3660
31,32,Nevada,3177772,NV,94,172,491,397,19.14,17380
32,33,Arkansas,3045637,AR,103,154,278,175,37.05,2390
33,34,Mississippi,2940057,MS,51,166,199,148,25.63,1310
34,35,Kansas,2937150,KS,112,209,612,500,18.30,4500
35,36,New Mexico,2113344,NM,84,111,260,176,32.31,4150
36,37,Nebraska,1967923,NE,98,149,291,193,33.68,2710
37,38,Idaho,1939033,ID,57,78,177,120,32.20,3500
38,39,West Virginia,1775156,WV,19,55,159,140,11.95,1010
39,40,Hawaii,1440196,HI,38,206,407,369,9.34,14220
40,41,New Hampshire,1395231,NH,38,75,176,138,21.59,4000
41,42,Maine,1385340,ME,16,62,282,266,5.67,3040
42,43,Montana,1122867,MT,55,71,99,44,55.56,1650
43,44,Rhode Island,1093734,RI,18,80,240,222,7.50,2550
44,45,Delaware,1018396,DE,6,29,127,121,4.72,3010
45,46,South Dakota,909824,SD,119,122,153,34,77.78,680
46,47,North Dakota,779261,ND,98,98,124,26,79.03,380
47,48,Alaska,733583,AK,9,8,44,35,20.45,1290
48,49,District of Columbia,671803,DC,39,82,291,252,13.40,3700
49,50,Vermont,647064,VT,17,72,318,301,5.35,3370
50,51,Wyoming,581381,WY,51,72,103,52,49.51,510

In [15]:
merged_df.to_json('pop_with_ev.json', orient='records')

In [14]:
merged_df.to_csv('pop_with_ev.csv', index=False)