In [1]:
# import dependencies
import pandas as pd

In [3]:
# get 2014 data into csv
df_2014 = pd.read_csv('04232015altfuelstations (1).csv')
df_2014.head()

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,Updated At,Owner Type Code,Federal Agency ID,Federal Agency Name,Open Date,Hydrogen Status Link,NG Vehicle Class,LPG Primary,E85 Blender Pump,EV Connector Types
0,LPG,Irish Propane,70 Katherine St,At Bailey and Clinton,Buffalo,NY,14210,NaN,716-852-3335,E,...,2015-04-03 16:57:34 UTC,P,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
1,ELEC,Latitudes,2401 Highway 528,NaN,Rio Rancho,NM,87124,NaN,505-369-7777,E,...,2015-01-06 17:43:46 UTC,P,NaN,NaN,2012-08-01,NaN,NaN,NaN,NaN,J1772
2,ELEC,American Bush - Solar Canopy,2630 S 300 W,Located across from Tire World,Salt Lake City,UT,84115,NaN,801-518-3529,E,...,2015-01-06 17:47:30 UTC,P,NaN,NaN,2011-12-01,NaN,NaN,NaN,NaN,J1772
3,ELEC,McDonald's #31850 - Flower Mound TX,3601 FM 407,NaN,Flower Mound,TX,75028,NaN,888-998-2546,E,...,2015-04-23 07:09:51 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J1772
4,ELEC,CITY OF SEATTLE,600 Pine St,NaN,Seattle,WA,98101,NaN,888-758-4389,E,...,2015-04-23 07:54:36 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J1772

In [4]:
# Check column names
for col in df_2014.columns:
    print(col)

Fuel Type Code
Station Name
Street Address
Intersection Directions
City
State
ZIP
Plus4
Station Phone
Status Code
Expected Date
Groups With Access Code
Access Days Time
Cards Accepted
BD Blends
NG Fill Type Code
NG PSI
EV Level1 EVSE Num
EV Level2 EVSE Num
EV DC Fast Count
EV Other Info
EV Network
EV Network Web
Geocode Status
Latitude
Longitude
Date Last Confirmed
ID
Updated At
Owner Type Code
Federal Agency ID
Federal Agency Name
Open Date
Hydrogen Status Link
NG Vehicle Class
LPG Primary
E85 Blender Pump
EV Connector Types

In [5]:
# Create a new dataframe with only these columns ["Fuel Type Code", "Station Name", "City", "State", "Status Code", "Latitude", "Longitude", "Groups With Access Code"]
cleaned_2014 = df_2014[["Fuel Type Code", "Station Name", "City", "State", "Status Code", "Latitude", "Longitude", "Groups With Access Code"]]
cleaned_2014.head()

,Fuel Type Code,Station Name,City,State,Status Code,Latitude,Longitude,Groups With Access Code
0,LPG,Irish Propane,Buffalo,NY,E,42.859400,-78.858933,Public
1,ELEC,Latitudes,Rio Rancho,NM,E,35.218430,-106.663000,Public
2,ELEC,American Bush - Solar Canopy,Salt Lake City,UT,E,40.714420,-111.900105,Public
3,ELEC,McDonald's #31850 - Flower Mound TX,Flower Mound,TX,E,33.071809,-97.085119,Public
4,ELEC,CITY OF SEATTLE,Seattle,WA,E,47.612514,-122.335409,Public

In [7]:
# get 2012 data into csv
df_2012 = pd.read_csv('altfuelstationsapr42012.csv')
df_2012.head()

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Level2 EVSE Num,EV DC Fast Count,EV Other Info,EV Network,EV Network Web,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID
0,CNG,Alagasco Tuscaloosa Operations Center,5220 Metro Park Dr,NaN,Tuscaloosa,AL,35405,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,200-8,33.161768,-87.556760,2011-08-31,14
1,CNG,Alagasco Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,200-8,32.367163,-86.267396,2011-08-31,17
2,CNG,Fort Gordon,105th Ave,Building 61300,Fort Gordon,GA,30905,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,200-6,33.413446,-82.176044,2011-10-31,25
3,CNG,Clayton County Fleet Maintenace,1348 Government Cir,I-75 south of Atlanta to State Route 138,Jonesboro,GA,30236,5907.0,NaN,E,...,NaN,NaN,NaN,NaN,NaN,200-8,33.535725,-84.346895,2011-06-30,40
4,CNG,Clean Energy - PS Energy - UFO,340 Whitehall St SW,"From I-7585 N, exit 91 to Central Avenue, left...",Atlanta,GA,30303,3718.0,404-321-5711,E,...,NaN,NaN,NaN,NaN,NaN,200-8,33.745474,-84.400021,2011-06-30,42

In [11]:
# Create a new dataframe with only these columns ["Fuel Type Code", "Station Name", "City", "State", "Status Code", "Latitude", "Longitude", "Groups With Access Code"]
cleaned_2012 = df_2012[["Fuel Type Code", "Station Name", "City", "State", "Status Code", "Latitude", "Longitude", "Groups With Access Code"]]
cleaned_2012.head()

,Fuel Type Code,Station Name,City,State,Status Code,Latitude,Longitude,Groups With Access Code
0,CNG,Alagasco Tuscaloosa Operations Center,Tuscaloosa,AL,E,33.161768,-87.556760,Private access only
1,CNG,Alagasco Montgomery Operations Center,Montgomery,AL,E,32.367163,-86.267396,Private access only
2,CNG,Fort Gordon,Fort Gordon,GA,E,33.413446,-82.176044,Private - government only
3,CNG,Clayton County Fleet Maintenace,Jonesboro,GA,E,33.535725,-84.346895,Private - government only
4,CNG,Clean Energy - PS Energy - UFO,Atlanta,GA,E,33.745474,-84.400021,Private - fleet customers only

In [8]:
# get 2021 data into csv
df_2021 = pd.read_csv('alt_fuel_stations (Jul 29 2021).csv')
df_2021.head()

/Users/katherinewinder/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3186: DtypeWarning: Columns (3,6,10,13,14,15,16,20,29,31,33,34,35,36,43,45,46,47,49,52,53,54,56,57,58,59,60,61,62,63) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,NaN
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Clean Energy - Texas Department of Transportation,7721A Washington St,"I-10, Washington Ave exit, 1.5 blocks to the s...",Houston,TX,77007,NaN,866-809-4869,E,...,NaN,NaN,NaN,NaN,Q,3000 3600,MD,NaN,NaN,NaN

In [9]:
# Create a new dataframe with only these columns ["Fuel Type Code", "Station Name", "City", "State", "Status Code", "Latitude", "Longitude", "Groups With Access Code"]
cleaned_2021 = df_2021[["Fuel Type Code", "Station Name", "City", "State", "Status Code", "Latitude", "Longitude", "Groups With Access Code"]]
cleaned_2021.head()

,Fuel Type Code,Station Name,City,State,Status Code,Latitude,Longitude,Groups With Access Code
0,CNG,Spire - Montgomery Operations Center,Montgomery,AL,E,32.367916,-86.267021,Private
1,CNG,PS Energy - Atlanta,Atlanta,GA,E,33.745843,-84.398837,Public - Card key at all times
2,CNG,Metropolitan Atlanta Rapid Transit Authority,Atlanta,GA,E,33.821911,-84.367461,Private - Government only
3,CNG,United Parcel Service,Atlanta,GA,E,33.760256,-84.543822,Private
4,CNG,Clean Energy - Texas Department of Transportation,Houston,TX,E,29.779918,-95.435385,Public - Credit card at all times

In [12]:
# Export each cleaned csv
cleaned_2012.to_csv("Resources/2012_ev_data.csv", index=False)

In [13]:
cleaned_2014.to_csv("Resources/2014_ev_data.csv", index=False)

In [14]:
cleaned_2021.to_csv("Resources/2021_ev_data.csv", index=False)