In [20]:
import sqlite3
import pandas as pd

from pathlib import Path

database_path = "sqlite/2012_ev_data.sqlite"
Path(database_path).touch()

conn = sqlite3.connect(database_path)
c = conn.cursor()

c.execute('''CREATE TABLE data_2012 (Fuel Type Code TEXT,
  Station Name TEXT,
  City TEXT,
  State TEXT,
  Status Code TEXT,
  Latitude TEXT,
  Longitude TEXT,
  Groups With Access Code TEXT)''')


csv_2012_ev_data = pd.read_csv("CSV_Data/2012_ev_data.csv")
csv_2012_ev_data.to_sql("2012_ev_data", conn, if_exists='append', index=False)

conn.close()

C:\Users\Chris\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,