In [58]:
# Import BeautifulSoup
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
import pprint

In [59]:

url = 'https://www.statsamerica.org/sip/rank_list.aspx?rank_label=pop1&ct=S18'
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

# find the table on the page
population_table = soup.find('table')

pop_df = pd.read_html(str(population_table))[0]

In [60]:
pop_df

    Rank                 State  FIPS Code  Population
0      1            California       6000    39029342
1      2                 Texas      48000    30029572
2      3               Florida      12000    22244823
3      4              New York      36000    19677151
4      5          Pennsylvania      42000    12972008
5      6              Illinois      17000    12582032
6      7                  Ohio      39000    11756058
7      8               Georgia      13000    10912876
8      9        North Carolina      37000    10698973
9     10              Michigan      26000    10034113
10    11            New Jersey      34000     9261699
11    12              Virginia      51000     8683619
12    13            Washington      53000     7785786
13    14               Arizona       4000     7359197
14    15             Tennessee      47000     7051339
15    16         Massachusetts      25000     6981974
16    17               Indiana      18000     6833037
17    18              Missouri      29000     6177957
18    19              Maryland      24000     6164660
19    20             Wisconsin      55000     5892539
20    21              Colorado       8000     5839926
21    22             Minnesota      27000     5717184
22    23        South Carolina      45000     5282634
23    24               Alabama       1000     5074296
24    25             Louisiana      22000     4590241
25    26              Kentucky      21000     4512310
26    27                Oregon      41000     4240137
27    28              Oklahoma      40000     4019800
28    29           Connecticut       9000     3626205
29    30                  Utah      49000     3380800
30    31                  Iowa      19000     3200517
31    32                Nevada      32000     3177772
32    33              Arkansas       5000     3045637
33    34           Mississippi      28000     2940057
34    35                Kansas      20000     2937150
35    36            New Mexico      35000     2113344
36    37              Nebraska      31000     1967923
37    38                 Idaho      16000     1939033
38    39         West Virginia      54000     1775156
39    40                Hawaii      15000     1440196
40    41         New Hampshire      33000     1395231
41    42                 Maine      23000     1385340
42    43               Montana      30000     1122867
43    44          Rhode Island      44000     1093734
44    45              Delaware      10000     1018396
45    46          South Dakota      46000      909824
46    47          North Dakota      38000      779261
47    48                Alaska       2000      733583
48    49  District of Columbia      11000      671803
49    50               Vermont      50000      647064
50    51               Wyoming      56000      581381

In [64]:
pop_df = pop_df.drop(columns=['FIPS Code'])

In [65]:
pop_df

    Rank                 State  Population
0      1            California    39029342
1      2                 Texas    30029572
2      3               Florida    22244823
3      4              New York    19677151
4      5          Pennsylvania    12972008
5      6              Illinois    12582032
6      7                  Ohio    11756058
7      8               Georgia    10912876
8      9        North Carolina    10698973
9     10              Michigan    10034113
10    11            New Jersey     9261699
11    12              Virginia     8683619
12    13            Washington     7785786
13    14               Arizona     7359197
14    15             Tennessee     7051339
15    16         Massachusetts     6981974
16    17               Indiana     6833037
17    18              Missouri     6177957
18    19              Maryland     6164660
19    20             Wisconsin     5892539
20    21              Colorado     5839926
21    22             Minnesota     5717184
22    23        South Carolina     5282634
23    24               Alabama     5074296
24    25             Louisiana     4590241
25    26              Kentucky     4512310
26    27                Oregon     4240137
27    28              Oklahoma     4019800
28    29           Connecticut     3626205
29    30                  Utah     3380800
30    31                  Iowa     3200517
31    32                Nevada     3177772
32    33              Arkansas     3045637
33    34           Mississippi     2940057
34    35                Kansas     2937150
35    36            New Mexico     2113344
36    37              Nebraska     1967923
37    38                 Idaho     1939033
38    39         West Virginia     1775156
39    40                Hawaii     1440196
40    41         New Hampshire     1395231
41    42                 Maine     1385340
42    43               Montana     1122867
43    44          Rhode Island     1093734
44    45              Delaware     1018396
45    46          South Dakota      909824
46    47          North Dakota      779261
47    48                Alaska      733583
48    49  District of Columbia      671803
49    50               Vermont      647064
50    51               Wyoming      581381

In [70]:
pop_df = df.groupby

KeyError: 'State'

In [66]:
ev_df = pd.read_csv(r'C:\Users\justidea.KEYSIGHT\Desktop\green_project\CSV_Data\state_ev_data.csv')
ev_df

,State,EV_Stations2012,EV_Stations2014,EV_Stations2021,Total_Growth,Growth%
0,CA,1421,3395,14936,13515,0.095139
1,TX,869,1487,3006,2137,0.289088
2,IL,475,849,1455,980,0.326460
3,MN,468,561,1235,767,0.378947
4,NY,457,850,2971,2514,0.153820
5,FL,409,815,2826,2417,0.144728
6,MI,398,668,1151,753,0.345786
7,WA,397,718,1843,1446,0.215410
8,IN,373,554,678,305,0.550147
9,NC,337,582,1376,1039,0.244913
10,TN,257,618,867,610,0.296424
11,CO,256,444,1670,1414,0.153293
12,WI,252,461,845,593,0.298225
13,OR,244,519,1053,809,0.231719
14,OH,240,452,1198,958,0.200334
15,GA,224,553,1764,1540,0.126984
16,IA,224,318,640,416,0.350000
17,MO,219,321,1222,1003,0.179214
18,SC,218,338,519,301,0.420039
19,MD,186,373,1291,1105,0.144074
20,AZ,180,550,1019,839,0.176644
21,PA,176,481,1416,1240,0.124294
22,VA,165,399,1207,1042,0.136703
23,OK,154,329,611,457,0.252046
24,AL,152,247,403,251,0.377171
25,UT,150,223,939,789,0.159744
26,SD,119,122,153,34,0.777778
27,KS,112,209,612,500,0.183007
28,CT,110,250,562,452,0.195730
29,MA,110,385,1952,1842,0.056352
30,AR,103,154,278,175,0.370504
31,NE,98,149,291,193,0.336770
32,ND,98,98,124,26,0.790323
33,NV,94,172,491,397,0.191446
34,NM,84,111,260,176,0.323077
35,KY,80,180,284,204,0.281690
36,NJ,75,213,766,691,0.097911
37,LA,60,125,259,199,0.231660
38,ID,57,78,177,120,0.322034
39,MT,55,71,99,44,0.555556
40,WY,51,72,103,52,0.495146
41,MS,51,166,199,148,0.256281
42,DC,39,82,291,252,0.134021
43,NH,38,75,176,138,0.215909
44,HI,38,206,407,369,0.093366
45,WV,19,55,159,140,0.119497
46,RI,18,80,240,222,0.075000
47,VT,17,72,318,301,0.053459
48,ME,16,62,282,266,0.056738
49,AK,9,8,44,35,0.204545
50,DE,6,29,127,121,0.047244

In [68]:
merged_df = pd.merge(pop_df, ev_df, left_index=True, right_index=True)
merged_df

,Rank,State_x,Population,State_y,EV_Stations2012,EV_Stations2014,EV_Stations2021,Total_Growth,Growth%
0,1,California,39029342,CA,1421,3395,14936,13515,0.095139
1,2,Texas,30029572,TX,869,1487,3006,2137,0.289088
2,3,Florida,22244823,IL,475,849,1455,980,0.326460
3,4,New York,19677151,MN,468,561,1235,767,0.378947
4,5,Pennsylvania,12972008,NY,457,850,2971,2514,0.153820
5,6,Illinois,12582032,FL,409,815,2826,2417,0.144728
6,7,Ohio,11756058,MI,398,668,1151,753,0.345786
7,8,Georgia,10912876,WA,397,718,1843,1446,0.215410
8,9,North Carolina,10698973,IN,373,554,678,305,0.550147
9,10,Michigan,10034113,NC,337,582,1376,1039,0.244913
10,11,New Jersey,9261699,TN,257,618,867,610,0.296424
11,12,Virginia,8683619,CO,256,444,1670,1414,0.153293
12,13,Washington,7785786,WI,252,461,845,593,0.298225
13,14,Arizona,7359197,OR,244,519,1053,809,0.231719
14,15,Tennessee,7051339,OH,240,452,1198,958,0.200334
15,16,Massachusetts,6981974,GA,224,553,1764,1540,0.126984
16,17,Indiana,6833037,IA,224,318,640,416,0.350000
17,18,Missouri,6177957,MO,219,321,1222,1003,0.179214
18,19,Maryland,6164660,SC,218,338,519,301,0.420039
19,20,Wisconsin,5892539,MD,186,373,1291,1105,0.144074
20,21,Colorado,5839926,AZ,180,550,1019,839,0.176644
21,22,Minnesota,5717184,PA,176,481,1416,1240,0.124294
22,23,South Carolina,5282634,VA,165,399,1207,1042,0.136703
23,24,Alabama,5074296,OK,154,329,611,457,0.252046
24,25,Louisiana,4590241,AL,152,247,403,251,0.377171
25,26,Kentucky,4512310,UT,150,223,939,789,0.159744
26,27,Oregon,4240137,SD,119,122,153,34,0.777778
27,28,Oklahoma,4019800,KS,112,209,612,500,0.183007
28,29,Connecticut,3626205,CT,110,250,562,452,0.195730
29,30,Utah,3380800,MA,110,385,1952,1842,0.056352
30,31,Iowa,3200517,AR,103,154,278,175,0.370504
31,32,Nevada,3177772,NE,98,149,291,193,0.336770
32,33,Arkansas,3045637,ND,98,98,124,26,0.790323
33,34,Mississippi,2940057,NV,94,172,491,397,0.191446
34,35,Kansas,2937150,NM,84,111,260,176,0.323077
35,36,New Mexico,2113344,KY,80,180,284,204,0.281690
36,37,Nebraska,1967923,NJ,75,213,766,691,0.097911
37,38,Idaho,1939033,LA,60,125,259,199,0.231660
38,39,West Virginia,1775156,ID,57,78,177,120,0.322034
39,40,Hawaii,1440196,MT,55,71,99,44,0.555556
40,41,New Hampshire,1395231,WY,51,72,103,52,0.495146
41,42,Maine,1385340,MS,51,166,199,148,0.256281
42,43,Montana,1122867,DC,39,82,291,252,0.134021
43,44,Rhode Island,1093734,NH,38,75,176,138,0.215909
44,45,Delaware,1018396,HI,38,206,407,369,0.093366
45,46,South Dakota,909824,WV,19,55,159,140,0.119497
46,47,North Dakota,779261,RI,18,80,240,222,0.075000
47,48,Alaska,733583,VT,17,72,318,301,0.053459
48,49,District of Columbia,671803,ME,16,62,282,266,0.056738
49,50,Vermont,647064,AK,9,8,44,35,0.204545
50,51,Wyoming,581381,DE,6,29,127,121,0.047244

In [17]:
print(population_json)

[{"Rank":1,"State":"California","Population":39029342},{"Rank":2,"State":"Texas","Population":30029572},{"Rank":3,"State":"Florida","Population":22244823},{"Rank":4,"State":"New York","Population":19677151},{"Rank":5,"State":"Pennsylvania","Population":12972008},{"Rank":6,"State":"Illinois","Population":12582032},{"Rank":7,"State":"Ohio","Population":11756058},{"Rank":8,"State":"Georgia","Population":10912876},{"Rank":9,"State":"North Carolina","Population":10698973},{"Rank":10,"State":"Michigan","Population":10034113},{"Rank":11,"State":"New Jersey","Population":9261699},{"Rank":12,"State":"Virginia","Population":8683619},{"Rank":13,"State":"Washington","Population":7785786},{"Rank":14,"State":"Arizona","Population":7359197},{"Rank":15,"State":"Tennessee","Population":7051339},{"Rank":16,"State":"Massachusetts","Population":6981974},{"Rank":17,"State":"Indiana","Population":6833037},{"Rank":18,"State":"Missouri","Population":6177957},{"Rank":19,"State":"Maryland","Population":6164660},{"Rank":20,"State":"Wisconsin","Population":5892539},{"Rank":21,"State":"Colorado","Population":5839926},{"Rank":22,"State":"Minnesota","Population":5717184},{"Rank":23,"State":"South Carolina","Population":5282634},{"Rank":24,"State":"Alabama","Population":5074296},{"Rank":25,"State":"Louisiana","Population":4590241},{"Rank":26,"State":"Kentucky","Population":4512310},{"Rank":27,"State":"Oregon","Population":4240137},{"Rank":28,"State":"Oklahoma","Population":4019800},{"Rank":29,"State":"Connecticut","Population":3626205},{"Rank":30,"State":"Utah","Population":3380800},{"Rank":31,"State":"Iowa","Population":3200517},{"Rank":32,"State":"Nevada","Population":3177772},{"Rank":33,"State":"Arkansas","Population":3045637},{"Rank":34,"State":"Mississippi","Population":2940057},{"Rank":35,"State":"Kansas","Population":2937150},{"Rank":36,"State":"New Mexico","Population":2113344},{"Rank":37,"State":"Nebraska","Population":1967923},{"Rank":38,"State":"Idaho","Population":1939033},{"Rank":39,"State":"West Virginia","Population":1775156},{"Rank":40,"State":"Hawaii","Population":1440196},{"Rank":41,"State":"New Hampshire","Population":1395231},{"Rank":42,"State":"Maine","Population":1385340},{"Rank":43,"State":"Montana","Population":1122867},{"Rank":44,"State":"Rhode Island","Population":1093734},{"Rank":45,"State":"Delaware","Population":1018396},{"Rank":46,"State":"South Dakota","Population":909824},{"Rank":47,"State":"North Dakota","Population":779261},{"Rank":48,"State":"Alaska","Population":733583},{"Rank":49,"State":"District of Columbia","Population":671803},{"Rank":50,"State":"Vermont","Population":647064},{"Rank":51,"State":"Wyoming","Population":581381}]

In [20]:
with open('population_json.json', 'w') as population_json:
    json.dump(json_data, population_json)

NameError: name 'json_data' is not defined